<app-purchaseform (createEvent)="create($event)" [ticketId]="ticketId"></app-purchaseform>
<app-purchaseform [purchase]="purchaseUpdate" (createEvent)="update($event)" [ticketId]="ticketId"></app-purchaseform>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ticket</th>
            <th>Purchase Date</th>
            <th>Used</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- pokusao sam sa ovim u tr:-->
        <!-- appDirektiva [purchase]="purchase" -->
        <tr *ngFor="let purchase of purchases">
            <td>{{purchase.id}}</td>
            <td *ngIf="purchase.ticketId != null">{{purchase.ticketId.id}}</td>
            <td>{{purchase.purchaseDate}}</td>
            <td>{{purchase.used}}</td>
            <td><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="delete(purchase.id)">Ukloni</button>
                <!-- <button *ngIf="loginService.validateRoles(['ROLE_USER']) && purchase.used==false" (click)="delete(purchase.id)">Ukloni</button>  -->
                <button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="setUpdate(purchase)">Izmeni</button>
            </td>
        </tr>
    </tbody>
</table>