<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="putnik.id" required></label>
    </div>
    <div>
        <label>Ime: <input type="text" name="ime" [(ngModel)]="putnik.ime" required></label>
    </div>
    <div>
        <label>Prezime: <input type="text" name="prezime" [(ngModel)]="putnik.prezime" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>