<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="transakcija.id" required></label>
    </div>
    <div>
        <label>Tip:
            <select name="tip" [(ngModel)]="transakcija.tip" required>
                <option *ngFor="let tipTransakcije of tipoviTransakcije" [value]="tipTransakcije">{{tipTransakcije}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>Iznos: <input type="number" name="iznos" [(ngModel)]="transakcija.iznos" required></label>
    </div>
    <div>
        <label>Datum transakcije: <input type="datetime-local" name="datumTransakcije" [(ngModel)]="transakcija.datumTransakcije" required></label>
    </div>
    <div>
        <label>Klijent:
            <select name="klijent" [(ngModel)]="transakcija.klijent" required>
                <option *ngFor="let klijent of klijentServis.getAll()" [ngValue]="klijent">{{klijent.ime}} {{klijent.prezime}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>Račun:
            <select name="racun" [(ngModel)]="transakcija.racun" required>
                <option *ngFor="let racun of racunServis.getAll()" [ngValue]="racun">{{racun.brojRacuna}}</option>
            </select>
        </label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>