<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="stanica.id" required></label>
    </div>
   
    <div>
        <label>naziv: <input type="text" name="naziv" [(ngModel)]="stanica.naziv" required></label>
    </div>
    <div>
        <label>adresa: <input type="text" name="adresa" [(ngModel)]="stanica.adresa" required></label>
    </div>
    
   
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>