<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="korisnik.id" required></label>
    </div>
    <div>
        <label>Ime: <input type="string" name="ime" [(ngModel)]="korisnik.ime" required></label>
    </div>
    <div>
        <label>Prezime: <input type="string" name="prezime" [(ngModel)]="korisnik.prezime" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>