<app-rentsform (createEvent)="create($event)" [booksId]="booksId"></app-rentsform>
<app-rentsform [rents]="rentsUpdate" (createEvent)="update($event)" [booksId]="booksId"></app-rentsform>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Books</th>
            <th>Date rent</th>
            <th>Date return</th>
            <th>state</th>
            <th>price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rents of rents">
            <td>{{rents.id}}</td>
            <td *ngIf="rents.booksId != null">{{rents.booksId.id}}</td>
            <td>{{rents.rentDate}}</td>
            <td>{{rents.returnDate}}</td>
            <td>{{rents.state}}</td>
            <td>{{rents.price}}</td>
            <td><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="delete(rents.id)">Ukloni</button>
                <button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="setUpdate(rents)">Izmeni</button>
            </td>
        </tr>
    </tbody>
</table>