<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer 1</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="primer1">
        <p>{{tekst}}</p>
        <div v-if="stavkaIzmena == null">
            <input type="text" v-model="tekst">
            <button v-on:click="dodajTekst">Dodaj stavku</button>
        </div>
        <div v-if="stavkaIzmena != null">
            <input type="text" v-model="stavkaIzmena.tekst">
            <button v-on:click="potvrdiIzmenu">Potvrdi izmenu</button>
            <button v-on:click="otakziIzmenu">Otakži izmenu</button>
        </div>
        <ul>
            <li v-for="(stavka, index) in lista">
                <span>{{stavka}}</span> <button v-on:click="izmeni(index, stavka)">Izmeni</button><button
                    v-on:click="ukloniStavku(index)">Ukloni</button>
            </li>
        </ul>
    </div>
    <script>
        const Primer1 = {
            data() {
                return {
                    tekst: "Neki tekst",
                    stavkaIzmena: null,
                    lista: ["Stavka 1", "Stavka 2"]
                }
            },
            methods: {
                dodajTekst() {
                    this.lista.push(this.tekst);
                },
                ukloniStavku(index) {
                    console.log(index);
                    this.lista.splice(index, 1);
                },
                izmeni(index, tekst) {
                    this.stavkaIzmena = {
                        tekst: this.lista[index],
                        index
                    }
                },
                potvrdiIzmenu() {
                    this.lista[this.stavkaIzmena.index] = this.stavkaIzmena.tekst
                    this.stavkaIzmena = null;
                },
                otakziIzmenu() {
                    this.stavkaIzmena = null;
                }
            }
        };

        Vue.createApp(Primer1).mount("#primer1");
    </script>
</body>

</html>