<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 1</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body id="zadatak1">
    <div>
        <div>
            <label>Indeks: <input type="text" v-model="noviStudent.indeks"></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="noviStudent.ime"></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="noviStudent.prezime"></label>
        </div>
        <div>
            <label>Smer: <input type="text" v-model="noviStudent.smer"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="noviStudent.prosecnaOcena"></label>
        </div>
        <button v-on:click="dodajStudenta">Dodaj studenta</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Indeks</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Smer</th>
                <th>Prosečna ocena</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="student in studenti">
                <td>{{student.indeks}}</td>
                <td>{{student.ime}}</td>
                <td>{{student.prezime}}</td>
                <td>{{student.smer}}</td>
                <td><span v-if="student.prosecnaOcena != null">{{student.prosecnaOcena}}</span><span v-else>-</span>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        const Zadatak1 = {
            data() {
                return {
                    noviStudent: {},
                    studenti: [
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer", prosecnaOcena: 8.2 },
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer" }
                    ]
                }
            },
            methods: {
                dodajStudenta() {
                    this.studenti.push({...this.noviStudent});
                }
            }
        };

        Vue.createApp(Zadatak1).mount("#zadatak1");
    </script>
</body>

</html>