<form [formGroup]="forma" (ngSubmit)="create()" ngNativeValidate>
    <div>
        <label>From: <input type="text" formControlName="from" required></label>
    </div>
    <div>
        <label>To: <input type="text" formControlName="to" required></label>
    </div>
    <div>
        <label>Return <input type="boolean" formControlName="return" required></label>
    </div>
    <div>
        <label>Price: <input type="number" formControlName="price" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>