<h1>Kupci</h1>
<app-kupci-dodavanje></app-kupci-dodavanje>
<app-kupci-izmena *ngIf="kupacIzmena!=null" [kupac]="kupacIzmena"></app-kupci-izmena>
<app-kupci (kupacIzmena)="izmeni7($event)"></app-kupci>

<h1>Proizvodi</h1>
<app-proizvodi-dodavanje></app-proizvodi-dodavanje>
<app-proizvodi-izmena *ngIf="proizvodIzmena!=null" [proizvod]="proizvodIzmena"></app-proizvodi-izmena>
<app-proizvodi (proizvodIzmena)="izmeni9($event)"></app-proizvodi>

<h1>Kupovine</h1>
<app-kupovine-dodavanje></app-kupovine-dodavanje>
<app-kupovine-izmena *ngIf="kupovinaIzmena!=null" [kupovina]="kupovinaIzmena"></app-kupovine-izmena>
<app-kupovine (kupovinaIzmena)="izmeni8($event)"></app-kupovine>
<h1>Klijenti</h1>
<app-klijenti-dodavanje></app-klijenti-dodavanje>
<app-klijenti-izmena *ngIf="klijentZaIzmenu!=null" [klijent]="klijentZaIzmenu"></app-klijenti-izmena>
<app-klijenti (klijentIzmena)="izmeni($event)"></app-klijenti>
<hr>
<h1>Racuni</h1>
<app-racuni-dodavanje></app-racuni-dodavanje>
<app-racuni-izmena *ngIf="racunZaIzmenu!=null" [racun]="racunZaIzmenu"></app-racuni-izmena>
<app-racuni (racunIzmena)="izmeni2($event)"></app-racuni>
<hr>
<h1>Transakcije</h1>
<app-transakcije-dodavanje></app-transakcije-dodavanje>
<app-transakcije-izmena *ngIf="transakcijaZaIzmenu!=null" [transakcija]="transakcijaZaIzmenu"></app-transakcije-izmena>
<app-transakcije (transakcijaIzmena)="izmeni3($event)"></app-transakcije>
<hr>
<h1>karte</h1>
<app-karte-dodavanje></app-karte-dodavanje>
<app-karte-izmena *ngIf="kartaIzmena!=null" [karta]="kartaIzmena"></app-karte-izmena>
<app-karte (kartaIzmena)="izmeni4($event)"></app-karte>
<hr>
<h1>Putnici</h1>
<app-putnici-dodavanje></app-putnici-dodavanje>
<app-putnici-izmena *ngIf="putnikIzmena!=null" [putnik]="putnikIzmena"></app-putnici-izmena>
<app-putnici (putnikIzmena)="izmeni5($event)"></app-putnici>
<hr>
<hr>
<h1>stanica</h1>
<app-stanica-dodavanje></app-stanica-dodavanje>
<app-stanica-izmena *ngIf="stanicaIzmena!=null" [stanica]="stanicaIzmena"></app-stanica-izmena>
<app-stanica (stanicaIzmena)="izmeni6($event)"></app-stanica>
<hr>