<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" [(ngModel)]="korisnik.id" name="id" required></label>
    </div>
    <div>
        <label>Korisničko ime: <input type="text" [(ngModel)]="korisnik.korisnickoIme" name="korisnickoIme" required></label>
    </div>
    <div>
        <label>Email: <input type="email" [(ngModel)]="korisnik.email" name="email" required></label>
    </div>
    <div>
        <label>Lozinka: <input type="password" [(ngModel)]="korisnik.lozinka" name="lozinka" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>