<table>
    <thead>
        <tr>
            <td>Id</td>
            
            <td>datum preuzimanja</td>
            <td>datum vracanja</td>
            <td>stanje</td>
            <td>cena</td>
            <td>korisnik</td>
            <td>knjiga</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of iznajmljivanjeService.getAll()">
            <td>{{t.id}}</td>
            <td>{{t.datumPreuzimanja}}</td>
            <td>{{t.datumVracanja}}</td>
            <td>{{t.stanje}}</td>
            <td>{{t.cena}}</td>
            <td *ngIf="t.korisnik != null">{{t.korisnik.ime}} {{t.korisnik.prezime}}</td>
            <td *ngIf="t.knjiga != null">{{t.knjiga.naslov}} {{t.knjiga.autor}}</td>
            <td><button (click)="izmeni(t)">Izmeni</button><button (click)="iznajmljivanjeService.delete(t.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>