<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Datum kupovine</td>
            <td>Kolicina</td>
            <td>Kupac</td>
            <td>Proizvod</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of kupovineServis.getAll()">
            <td>{{t.id}}</td>
            <td>{{t.datumKupovine}}</td>
            <td>{{t.kolicina}}</td>
            <td *ngIf="t.kupac != null">{{t.kupac.ime}} {{t.kupac.prezime}}</td>
            <td *ngIf="t.proizvod != null">{{t.proizvod.naziv}}</td>
            <td><button (click)="izmeni(t)">Izmeni</button><button (click)="kupovineServis.delete(t.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>