<p>kupci-izmena works!</p>
<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="kupac.id" required></label>
    </div>
    <div>
        <label>Ime: <input type="text" name="ime" [(ngModel)]="kupac.ime" required></label>
    </div>
    <div>
        <label>Prezime: <input type="text" name="prezime" [(ngModel)]="kupac.prezime" required></label>
    </div>
    <div>
        <label>Email: <input type="text" name="email" [(ngModel)]="kupac.email" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>