<form [formGroup]="forma" (ngSubmit)="create()" ngNativeValidate>
    <div>
        <label>Ticket:
            <select formControlName="ticketId">
                <option *ngFor="let t of ticketId" [ngValue]="t">{{t.id}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>Purchase Date: <input type="text" formControlName="purchaseDate" required></label>
    </div>
    <div>
        <label>Used: <input type="boolean" formControlName="used" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>