<form [formGroup]="forma" (ngSubmit)="create()" ngNativeValidate>
    <div>
        <label>title: <input type="text" formControlName="title" required></label>
    </div>
    <div>
        <label>author: <input type="text" formControlName="author" required></label>
    </div>
    <div>
        <label>genre <input type="boolean" formControlName="genre" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>