<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Tip</td>
            <td>Iznos</td>
            <td>Datum transakcije</td>
            <td>Klijent</td>
            <td>Racun</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transakcijeServis.getAll()">
            <td>{{t.id}}</td>
            <td>{{t.tip}}</td>
            <td>{{t.iznos}}</td>
            <td>{{t.datumTransakcije}}</td>
            <td *ngIf="t.klijent != null">{{t.klijent.ime}} {{t.klijent.prezime}}</td>
            <td *ngIf="t.racun != null">{{t.racun.brojRacuna}}</td>
            <td><button (click)="izmeni(t)">Izmeni</button><button (click)="transakcijeServis.delete(t.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>