<p>kupci works!</p>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of kupacService.getAll()">
            <td>{{k.id}}</td>
            <td>{{k.ime}}</td>
            <td>{{k.prezime}}</td>
            <td>{{k.email}}</td>
            <td><button (click)="izmeni(k)">Izmeni</button><button (click)="kupacService.delete(k.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>