<app-tiketsform (createEvent)="create($event)"></app-tiketsform>
<app-tiketsform [ticket]="ticketUpdate" (createEvent)="update($event)"></app-tiketsform>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th>Return</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
            <td>{{ticket.id}}</td>
            <td>{{ticket.from}}</td>
            <td>{{ticket.to}}</td>
            <td>{{ticket.return}}</td>
            <th>{{ticket.price}}</th>
            <td><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="delete(ticket.id)">Ukloni</button><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="setUpdate(ticket)">Izmeni</button></td>
        </tr>
    </tbody>
</table>