<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>naslov</td>
            <td>autor</td>
            <td>zanr</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of knjigaService.getAll()">
            <td>{{k.id}}</td>
            <td>{{k.naslov}}</td>
            <td>{{k.autor}}</td>
            <td>{{k.zanr}}</td>
            <td><button (click)="izmeni(k)">Izmeni</button><button (click)="knjigaService.delete(k.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>