<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="proizvod.id" required></label>
    </div>
    <div>
        <label>naziv: <input type="text" name="naziv" [(ngModel)]="proizvod.naziv" required></label>
    </div>
    <div>
        <label>opis: <input type="text" name="opis" [(ngModel)]="proizvod.opis" required></label>
    </div>
    <div>
        <label>cena: <input type="text" name="cena" [(ngModel)]="proizvod.cena" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>