<p>proizvodi works!</p>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Naziv</td>
            <td>Opis</td>
            <td>Cena</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of proizvodService.getAll()">
            <td>{{k.id}}</td>
            <td>{{k.naziv}}</td>
            <td>{{k.opis}}</td>
            <td>{{k.cena}}</td>
            <td><button (click)="izmeni(k)">Izmeni</button><button (click)="proizvodService.delete(k.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>