<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="knjiga.id" required></label>
    </div>
    <div>
        <label>naslov: <input type="text" name="naslov" [(ngModel)]="knjiga.naslov" required></label>
    </div>
    <div>
        <label>autor: <input type="text" name="autor" [(ngModel)]="knjiga.autor" required></label>
    </div>
    <div>
        <label>zanr: <input type="text" name="zanr" [(ngModel)]="knjiga.zanr" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>