<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Broj racuna</td>
            <td>Stanje</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'promenaBoje': k.stanje<0}" *ngFor="let k of racuniServis.getAll()">
            <td>{{k.id}}</td>
            <td>{{k.brojRacuna}}</td>
            <td>{{k.stanje}}</td>
            <td><button (click)="izmeni(k)">Izmeni</button><button (click)="racuniServis.delete(k.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>