<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="racun.id" required></label>
    </div>
    <div>
        <label>Broj racuna: <input type="text" name="brojRacuna" [(ngModel)]="racun.brojRacuna" required></label>
    </div>
    <div>
        <label>Stanje: <input type="number" name="stanje" [(ngModel)]="racun.stanje" required></label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>