<app-kupovina-dodavanje></app-kupovina-dodavanje>
<app-kupovina-izmena *ngIf="kupovinaIzmena!=null" [kupovina]="kupovinaIzmena"></app-kupovina-izmena>
<app-kupovina (kupovinaIzmena)="izmeni4($event)" ></app-kupovina>