<app-booksform (createEvent)="create($event)"></app-booksform>
<app-booksform [books]="booksUpdate" (createEvent)="update($event)"></app-booksform>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>author</th>
            <th>genre</th>
            <th>Actions</th>
        </tr>books
    </thead>
    <tbody>
        <tr *ngFor="let  of books">
            <td>{{books.id}}</td>
            <td>{{books.title}}</td>
            <td>{{books.author}}</td>
            <td>{{books.genre}}</td>
            <td><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="delete(books.id)">Ukloni</button><button *ngIf="loginService.validateRoles(['ROLE_ADMIN'])" (click)="setUpdate(books)">Izmeni</button></td>
        </tr>
    </tbody>
</table>