<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>naziv</td>
            <td>adresa</td>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let k of stanicaService.getAll()">
            <td>{{k.id}}</td>
            <td>{{k.naziv}}</td>
            <td>{{k.adresa}}</td>
            <td><button (click)="izmeni(k)">Izmeni</button><button (click)="stanicaService.delete(k.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>