<form (ngSubmit)="izmeni()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="kupovina.id" required></label>
    </div>
    <div>
        <label>Datum kupovin: <input type="date" name="datumKupovine" [(ngModel)]="kupovina.datumKupovine" required></label>
    </div>
    <div>
        <label>Kolicina: <input type="number" name="kolicina" [(ngModel)]="kupovina.kolicina" required></label>
    </div>
    <div>
        <label>kupac:
            <select name="kupac" [(ngModel)]="kupovina.kupac" required>
                <option *ngFor="let kupac of kupacService.getAll()" [ngValue]="kupac">{{kupac.ime}} {{kupac.prezime}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>proizvod:
            <select name="proizvod" [(ngModel)]="kupovina.proizvod" required>
                <option *ngFor="let proizvod of proizvodService.getAll()" [ngValue]="proizvod">{{proizvod.naziv}}</option>
            </select>
        </label>
    </div>
    <div>
        <input type="submit" value="Izmeni">
    </div>
</form>