<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="iznajmljivanja.id" required></label>
    </div>
    <div>
        <label>cena: <input type="number" name="cena" [(ngModel)]="iznajmljivanja.cena" required></label>
    </div>
    <div>
        <label>Datum preuzimanja: <input type="datetime-local" name="datumPreuzimanja" [(ngModel)]="iznajmljivanja.datumPreuzimanja" required></label>
    </div>
    <div>
        <label>Datum vracanja: <input type="datetime-local" name="datumVracanja" [(ngModel)]="iznajmljivanja.datumVracanja" required></label>
    </div>
    <div>
        <label>korisnik:
            <select name="korisnik" [(ngModel)]="iznajmljivanja.korisnik" required>
                <option *ngFor="let korisnik of korisnikService.getAll()" [ngValue]="korisnik">{{korisnik.ime}} {{korisnik.prezime}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>knjiga:
            <select name="knjiga" [(ngModel)]="iznajmljivanja.knjiga" required>
                <option *ngFor="let knjiga of knjigaService.getAll()" [ngValue]="knjiga">{{knjiga.naslov}}</option>
            </select>
        </label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>