<table>
    <thead>
        <tr>
            <td>Id</td>
            
            <td>Datum</td>
            <td>kolicina</td>
            <td>kupac</td>
            <td>proizvod</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of kupovinaService.getAll()">
            <td>{{t.id}}</td>
            <td>{{t.datumKupovine}}</td>
            <td>{{t.kolicina}}</td>
            <td *ngIf="t.kupac != null">{{t.kupac.ime}} {{t.kupac.prezime}}</td>
            <td *ngIf="t.proizvod != null">{{t.proizvod.naziv}}</td>
            <td><button (click)="izmeni(t)">Izmeni</button><button (click)="kupovinaService.delete(t.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>