<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>Šifra smera: <input type="text" [(ngModel)]="smer.sifra" name="sifra" required></label>
    </div>
    <div>
        <label>Naziv: <input type="text" [(ngModel)]="smer.naziv" name="naziv" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>