<table>
    <thead>
        <tr>
            <td>Id</td>
            
            <td>Datum</td>
            <td>prtljag</td>
            <td>cena</td>
            <td>putnik</td>
            <td>stanica</td>
            <td>Akcije</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of kartaService.getAll()">
            <td>{{t.id}}</td>
            <td>{{t.datumVremePolaska}}</td>
            <td>{{t.prtljag}}</td>
            <td>{{t.cena}}</td>
            <td *ngIf="t.putnik != null">{{t.putnik.ime}} {{t.putnik.prezime}}</td>
            <td *ngIf="t.stanica != null">{{t.stanica.naziv}}</td>
            <td><button (click)="izmeni(t)">Izmeni</button><button (click)="kartaService.delete(t.id)">Ukloni</button></td>
        </tr>
    </tbody>
</table>