<p>proizvodi-dodavanje works!</p>
<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="proizvod.id" required></label>
    </div>
    <div>
        <label>Naziv: <input type="text" name="naziv" [(ngModel)]="proizvod.naziv" required></label>
    </div>
    <div>
        <label>Opis: <input type="text" name="opis" [(ngModel)]="proizvod.opis" required></label>
    </div>
    <div>
        <label>Cena: <input type="text" name="cena" [(ngModel)]="proizvod.cena" required></label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>