<form (ngSubmit)="dodaj()" ngNativeValidate>
    <div>
        <label>ID: <input type="number" name="id" [(ngModel)]="karta.id" required></label>
    </div>
    <div>
        <label>prtljag:
            <select name="tip" [(ngModel)]="karta.prtljag" required>
                <option *ngFor="let tip of tiprtljaga" [value]="tip">{{tip}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>cena: <input type="number" name="cena" [(ngModel)]="karta.cena" required></label>
    </div>
    <div>
        <label>Datum : <input type="datetime-local" name="datumVremePolaska" [(ngModel)]="karta.datumVremePolaska" required></label>
    </div>
    <div>
        <label>putnik:
            <select name="putnik" [(ngModel)]="karta.putnik" required>
                <option *ngFor="let putnik of putnikService.getAll()" [ngValue]="putnik">{{putnik.ime}} {{putnik.prezime}}</option>
            </select>
        </label>
    </div>
    <div>
        <label>stanica:
            <select name="stanica" [(ngModel)]="karta.stanica" required>
                <option *ngFor="let stanica of stanicaService.getAll()" [ngValue]="stanica">{{stanica.naziv}}</option>
            </select>
        </label>
    </div>
    <div>
        <input type="submit" value="Dodaj">
    </div>
</form>