<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 1</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body id="zadatak1">
    <student-forma v-bind:smerovi="smerovi" v-on:dodaj="dodajStudenta"></student-forma>
    <hr>
    <div>
        <div>
            <label>Indeks: <input type="text" v-model="pretraga.indeks"></label>
        </div>
        <div>
            <label>Ime: <input type="text" v-model="pretraga.ime"></label>
        </div>
        <div>
            <label>Prezime: <input type="text" v-model="pretraga.prezime"></label>
        </div>
        <div>
            <label>Smer: <input type="text" v-model="pretraga.smer"></label>
        </div>
        <div>
            <label>Prosečna ocena: <input type="number" v-model="pretraga.prosecnaOcenaMin">-<input type="number"
                    v-model="pretraga.prosecnaOcenaMax"></label>
        </div>
    </div>
    <genericka-tabela v-bind:zaglavlje="zaglavljeStudenti" v-bind:sadrzaj="pronadjeniStudenti"
        v-on:ukloni="ukloniStudenta"></genericka-tabela>
    <hr>
    <h1>Smerovi</h1>
    <smer-forma v-on:dodaj="dodajSmer"></smer-forma>
    <genericka-tabela v-bind:zaglavlje="zaglavljeSmerovi" v-bind:sadrzaj="smerovi" v-on:ukloni="ukloniSmer">
    </genericka-tabela>
    <script src="genericka-tabela.js"></script>
    <script>
        const Zadatak1 = {
            data() {
                return {
                    zaglavljeSmerovi: { sifra: "Šifra smera", naziv: "Naziv smera" },
                    zaglavljeStudenti: { indeks: "Indeks", ime: "Ime", prezime: "Prezime", smer: "Smer", prosecnaOcena: "Prosečna ocena" },
                    pretraga: { indeks: "", ime: "", prezime: "", smer: "", prosecnaOcenaMin: 5, prosecnaOcenaMax: 10 },
                    studenti: [
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer", prosecnaOcena: 8.2 },
                        { indeks: "1234/123456", ime: "Ime studenta", prezime: "Prezime studenta", smer: "Neki smer" }
                    ],
                    smerovi: [
                        { sifra: "sii", naziv: "Softversko i informaciono inženjerstvo" }
                    ]
                }
            },
            computed: {
                pronadjeniStudenti() {
                    pronadjeni = [];
                    for (let i = 0; i < this.studenti.length; i++) {
                        if (this.studenti[i].indeks.includes(this.pretraga.indeks) &&
                            this.studenti[i].ime.includes(this.pretraga.ime) &&
                            this.studenti[i].prezime.includes(this.pretraga.prezime) &&
                            this.studenti[i].smer.includes(this.pretraga.smer) &&
                            ((this.studenti[i].prosecnaOcena >= this.pretraga.prosecnaOcenaMin &&
                                this.studenti[i].prosecnaOcena <= this.pretraga.prosecnaOcenaMax) || this.studenti[i].prosecnaOcena == null)) {
                            pronadjeni.push({ ...this.studenti[i], index: i });
                        }
                    }
                    return pronadjeni;
                }
            },
            methods: {
                dodajSmer(noviSmer) {
                    this.smerovi.push({ ...noviSmer });
                },
                dodajStudenta(noviStudent) {
                    this.studenti.push({ ...noviStudent });
                },
                ukloniSmer(red) {
                    this.smerovi.splice(red.index, 1);
                },
                ukloniStudenta(red) {
                    this.studenti.splice(red.podaci.index, 1);
                }
            }
        };

        const app = Vue.createApp(Zadatak1);
        app.component("genericka-tabela", GenerickaTabela);
        app.component("student-forma", {
            props: ["studentInit", "smerovi"],
            emits: ["dodaj", "izmeni", "update:student"],
            data() {
                return {
                    student: this.studentInit ? {...this.studentInit} : {}
                }
            },
            template: `
            <div>
                <div>
                    <label>Indeks: <input type="text" v-model="student.indeks"></label>
                </div>
                <div>
                    <label>Ime: <input type="text" v-model="student.ime"></label>
                </div>
                <div>
                    <label>Prezime: <input type="text" v-model="student.prezime"></label>
                </div>
                <div>
                    <label>Smer: 
                        <!--<input type="text" v-model="student.smer">-->
                        <select v-model="student.smer">
                            <option v-for="smer in smerovi" v-bind:value="smer.naziv">{{smer.sifra}} | {{smer.naziv}}</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>Prosečna ocena: <input type="number" v-model="student.prosecnaOcena"></label>
                </div>
                <button v-on:click="$emit('dodaj', student)">Dodaj studenta</button>
            </div>
            `
        });
        app.component("smer-forma", {
            props: ["smerInit"],
            emits: ["dodaj", "izmeni"],
            data() {
                return {
                    smer: this.smerInit ? {...this.smerInit} : {}
                }
            },
            template: `
            <div>
                <div>
                    <label>Šifra: <input type="text" v-model="smer.sifra"></label>
                </div>
                <div>
                    <label>Naziv: <input type="text" v-model="smer.naziv"></label>
                </div>
                <button v-on:click="$emit('dodaj', smer)">Dodaj</button>
            </div>
            `
        })
        app.mount("#zadatak1");
    </script>
</body>

</html>